# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/

# Środowisko / sekrety
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Bazy lokalne
*.sqlite
*.db